<%= simple_form_for(@business) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-3 col-md-offset-2 form-inputs">
      <%= f.input :name %>
      <%= f.input :category %>
    </div>

    <div class="col-md-3 col-md-offset-3">
      <h2>Addresses</h2>
      <%= f.fields_for :addresses do |builder| %>
        <%= render 'address_fields', f: builder %>
      <% end %>
      <%= link_to_add_fields "Add Address", f, :addresses %>
    </div>
  </div>

  <div class="text-center form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
