<section>
  <header>
    <h1 class="text-center">Businesses</h1>
  </header>

  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <% if @businesses.any? %>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Category</th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @businesses.each do |business| %>
              <tr>
                <td><%= link_to business.name, business %></td>
                <td><%= business.category %></td>
                <td><%= link_to 'Edit', edit_business_path(business) if policy(business).update?%></td>
                <td><%= link_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' } if policy(business).destroy?%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <%= will_paginate @businesses %>

      <p><%= link_to 'New Business', new_business_path %></p>
    </div>
  </div>
</section>
