<section>
  <p><strong>Line 1:</strong> <%= address.line1 %></p>
  <p><strong>Line 2:</strong> <%= address.line2 %></p>
  <p><strong>City:</strong> <%= address.city %></p>
  <p><strong>State:</strong> <%= address.state %></p>
  <p><strong>Zip:</strong> <%= address.zip %></p>
  <p><strong>Phone:</strong> <%= address.phone %></p>
</section>
